#content{
    width: 1600px;
    align-items: center;
    align-content: center;
    }
  
header {
  display: grid;
  grid-template-columns: 150px auto;  
}

#nature{
  padding: 25px 50px;
  margin-top: -10px; 
  display: flex;
  justify-items: center;

}

h2{
  text-align: center;
  font: 1em cursive;
  font-size: 40px;
  margin-block-end: auto;
  width: 1100px;
}

.river{
  width: 400px; 
  margin-top: -190px;
  margin-left: 1100px;
}

.family{
  background-color: #453713;
  padding: 80px 80px;
  margin-top: 40px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.colores{
  background-color: #ebd49a; 
  border-style: double;color: black;
  display: flex;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  font-size: 70px;
  width: 800px;
  height: 200px; 
  bottom: 80%;
  margin-top: -22%;
  margin-left: 780px;
  }
  
.overanothers{
  background-color: #ebd49a;
  width: 1600px;
  height: 600px;
  border-style: double;color: black;
  margin-top: 300px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:cursive;
}

.rivern{
  margin-top: 0px;
  width: 1100px;
  height: 600px;
  margin-left: 500px;

  
}
h1{
  background-color: #ebd49a;
  text-align: center;
  width: 600px;
  height: 300px;
  position: absolute;
  margin-left: -700px;
  background-image: none;

}

.colordark{
  background: black;
  width: 800px;
  height: 500px;
  margin-top: -20px; 
  margin-left: -2290px;
}

a { 
  text-decoration: none;
  color: rgb(8, 7, 5);
  text-align: center;
  margin-top: 2%;  
}

nav {
  display: flex;
  justify-content: space-around;
}



body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(239, 227, 211);
  font-family: cursive;
  font-size: 22px;  
}

footer {
  max-width: max-content;
  margin-top: 80px;
  padding: 25px 50px;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 1600px;
}

 .clearday{
  width: 930px;
  margin-left: 620px;
  margin-top: -10%;
 }

footer a{
  width: 300px;
  color: rgb(58, 47, 38);
  text-decoration: none;
  margin-left: 60px;


}

.logo {
  width: 80px;
  margin-top: 0;
  padding: 0;
}

footer p {
  font-size: 1.2em;
  margin-top: 0%;
  margin-left: auto;
}
  
footer p a:hover {
  text-decoration: underline;
  align-content: center;
}

.social img{
  width: 60px;
  margin-top: -100px;
  margin-bottom: 10%;
  margin-left: 0px;
}

