#content{
max-width: 1600px;
margin: 0 auto;
}
nav a { 
    text-decoration: none;
    color: bisque;
    text-align: center;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    box-sizing: border-box;
}
body {
    background-color: rgb(239, 227, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}
h2{
    margin: 0;
}
header {
    background-color: rgb(49, 40, 28);
    padding: 5px;
}
nav a :hover{
    background-color: rgb(97, 78, 68);
    color: rgb(112, 110, 98);
}

.book, .join {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(206, 190, 172);
    color: rgb(68, 58, 45);
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 30px; 
    margin-top: 50px;
}

.book :hover {
    background-color: rgb(114, 103, 89);
    color: bisque;
}
.join :hover {
    background-color: rgb(99, 94, 88);
    color: rgb(70, 66, 61);
}
#background {
    height: 725px;
    background-color: rgb(94, 80, 58);
}
.msg {
    padding: 35px;
    background-color: rgb(93, 87, 69);
    line-height: 1.5em;
    margin-top: 200px ;
}
footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: bisque
}
.home-title {
    background-color: rgb(239, 227, 211);
    margin-top: 10px;
    font-family: Bad Script;
    font-size: 2em;
    color: rgb(69,60,49);
}
h4{
    background-color: rgb(239, 227, 211);
    color: rgb(108, 106, 90);
}
.msg h2{
    font-family: cursive;    
    color: rgb(239, 227, 211)  
}
.msg p {
    font-family: cursive;
    font-size: 1em;
    color: bisque; 
    padding-bottom: 15px;
   
}

footer a{
    background-color: rgb(107, 95, 81);
    color: bisque;
    text-decoration: none;
}

footer a :hover {
    background-color: bisque;
    color: rgb(56, 52, 46);
}
.logo {
    width: 80px;
    margin-top: 0;
    padding: 0;
}
#logo_link{
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
    width: 80px;
}
#hero-img {
    width: 100%;
    margin-top: 0;
}
footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapid-card{
    margin: 200px 0;;
}
.card-img{
    border: 10px solid black

}
main section img{
    box-sizing: border-box; 
}
img{
    margin-top: 100px;
}

