#content{
  max-width: 1600px;
  align-items: center;
  align-content: center;
}
   
header {
  display: grid;
  grid-template-columns: 30px auto; 
  background-color: black;
  align-content: center;

 
}
header a{
  font-family: cursive;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  color: #d0d0be;
}
.mibaby{
  margin-left: 0%;
  width: 60%;
  display: block;
}
.empathy-title{
  background-color: #4f402e;
  width: 200px;
  height: 60px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 200%;
  text-align: center;
  align-content: center;
  margin-top: -60px;
  margin-left: 30%;
  position: absolute;
}

.background2{
  background-color: black;
  width: 530px;
  height: 800px;
  color: #d0d0be;
  font-family: sans-serif;
  font-style: italic;
  font-size: 120%;
  text-align: center;
  align-content: center;
  margin-top: -698px;
  margin-left: 0px;

}
h4{
  width: 900px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 150%;
  text-align: center;
  align-content: center;
  margin-top: -540px;
  margin-left: 1100px;
  display: flex;
}


h5{
  width: 90px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 200%;
  text-align: center;
  align-content: center;
  margin-top: -500px;
  margin-left: 155px;
  display: flex;
}
.empathyhome{
  display: grid;
  grid-column: auto;
  width: 34%;
  height: 50%;
  font-family: sans-serif;
  font-style: italic;
  font-size: 120%;
  font-weight: 900;
  text-align: center;
  align-content: center;
  margin-top: -10px;
  margin-left: 1000px;
}


body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color:#d0d0be;
  font-family: cursive;
  text-align: center;
  font-size: 22px;  
}
.appa{
  height: 1430px;
  margin-left: 526px;
  margin-top: -52.8%;
  display: block;
}
#appaykatara{
  position: relative;
}
/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 500px;
  right: 10px;
  background-color: #4f402e;
  color: #d0d0be;
  padding-left: 20px;
  padding-right: 20px;
}

textarea{
  background-color:#d0d0be;
  width: 400px;
  height: 600px;
  margin-bottom: auto;
  margin-top: 5%;
  margin-left: -68%;
 
}
h6{
  max-width: max-content;
  margin-bottom: auto;
  padding: 25px 50px;
  margin-left: -30px;
  align-items: center;
  position: absolute;
  font-family: cursive;
  text-align: center;
  font-size: 125px;  

}

  
  .logo {
    width: 100px;
    margin-top: 0;
    padding: 0;
    border-style: double;
    border-color: #d0d0be;
  }
 
 
  nav {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  }
    
footer {
  margin-top: 8.8%;
  padding: 25px 50px;
  background-color:  black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

  footer a{
    color: #d0d0be;
    width: 100%;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
}

  footer p {
    font-size: 1.2em;
    color: #d0d0be;
}
    
footer p a:hover {
  color: #d0d0be;
    text-decoration: underline;
}


.social img{
    padding-top: 20px;
    margin-bottom: -10%;
}
    
  