#content{
  max-width: 1600px;
  align-items: center;
  align-content: center;
  }
 
header {
  display: grid;
  grid-template-columns: 30px auto; 
  background-color: black;
  align-content: center;
}

header a{
  font-family: cursive;
  font-size: large;
  text-align: center;
  text-decoration: none;
  color: #d0d0b3;
}
nav a{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#jardinimagen{
  margin-left: 0%;
  width: 900px;
  display: block;
}
.home-title{
  background-color: #4f402e;
  width: 180px;
  height: 60px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  align-content: center;
  margin-top: -690px;
  margin-left: 740px;
  position: absolute;
}
h4{
  width: 600px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 140%;
  text-align: center;
  align-content: center;
  margin-top: -650px;
  margin-left: 830px;
  position: absolute; 

}
.textodelearn{
  width: 480px;
  height: 840px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 90%;
  text-align: center;
  align-content: center;
  margin-top: -600px;
  margin-left: 900px;
  justify-content: space-around;

}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color:#d0d0be;
  font-family: cursive;
  text-align: center;
  font-size: 22px;  
}
.girls{
  width: 100%;
  margin-top: -405px;
  justify-content: end;
  display: flex;
}

textarea{
  background-color: #d0d0be;
  width: 780px;
  height: 440px;
  margin-bottom: -1400px;
  margin-left: -35%;
  position: relative;
}

.logo {
  width: 100px;
  margin-top: 0;
  padding: 0;
  border-style: double;
  border-color: #d0d0be;
}

nav {
  display: flex;
  justify-content: space-around;
}
  
footer {
  margin-top: -8px;
  padding: 25px 50px;
  background-color:  black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

footer a{
  color: #d0d0be;
  width: 100%;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.2em;
  color: #d0d0be;
}
  
footer p a:hover {
  text-decoration: underline;
  color: #d0d0be;
}


.social img{
  padding-top: 20px;
  margin-bottom: 10%;
}
  
