#content{
  width: 1600px;
  align-items: center;
  align-content: center;
  }
 
header {
display: grid;
grid-template-columns: 30px auto; 
background-color: black;
align-content: center;


}
header a{
font-family: cursive;
font-size: medium;
text-align: center;
text-decoration: none;
color: antiquewhite;
}
#jardinimagen
{
margin-left: 0%;
width: 800px;
display: block;
}
.home-title{
background-color: rgb(92, 81, 67);
width: 200px;
height: 60px;
font-family: cursive;
font-style: italic;
font-size: 200%;
text-align: center;
align-content: center;
margin-top: -620px;
margin-left: 700px;
position: absolute;
}
h4{
width: 600px;
font-family: cursive;
font-style: italic;
font-size: 140%;
text-align: center;
align-content: center;
margin-top: -560px;
margin-left: 880px;
position: absolute; 

}
.textodelearn{
width: 590px;
height: 800px;
font-family: cursive;
font-style: italic;
font-size: 90%;
text-align: center;
align-content: center;
margin-top: -500px;
margin-left: 850px;
justify-content: space-around;

}
body {
display: flex;
justify-content: center;
align-content: center;
background-color: rgb(239, 227, 211);
font-family: cursive;
text-align: center;
font-size: 22px;  
}
.girls{
width: 820px;
margin-right: -44%;
margin-top: -900px;
justify-content: end;
}


textarea{
background-color:#ccc5b4;
width: 600px;
height: 750px;
margin-top: -178px;
display: flex;
margin-left: 0%;
}

.logo {
  width: 100px;
  margin-top: 0;
  padding: 0;
  border-style: double;
  border-color: white;
}


nav {
display: flex;
justify-content: space-around;
margin-top: 30px;
}
  
footer {
margin-top: -8px;
padding: 25px 50px;
background-color:  rgb(190, 163, 121);
display: flex;
justify-content: space-around;
align-items: center;
height: 80px;
}

footer a{
  color: rgb(21, 19, 17);
  width: 100%;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.2em;
}
  
footer p a:hover {
  text-decoration: underline;
}


.social img{
  padding-top: 20px;
  margin-bottom: 10%;
}
  
