#content{
    max-width: 1600px;
    align-items: center;
    align-content: center;
    }
   
header {
  display: grid;
  grid-template-columns: 30px auto; 
  background-color: black;
  align-content: center;

 
}
header a{
  font-family: cursive;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  color: antiquewhite;
}
nav a{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.gatitosmuyflojos{
  margin-left: 0%;
  width: 600px;
  display: flex;
  margin-top: 0%;
  position: relative;
}


.Share-title{
  background-color: rgb(92, 81, 67);
  width: 130px;
  height: 55px;
  font-family: cursive;
  font-style: italic;
  font-size: 160%;
  text-align: center;
  align-content: center;
  margin-top: -500px;
  margin-left: 550px;
  position: absolute;
}
.lunabella{
  margin-left: 0%;
  display: flex;
  width: 550px;
  margin-top: -26%;
}

h4{
  width: 700px;
  font-family: cursive;
  font-style: italic;
  font-size: 120%;
  text-align: center;
  align-content: center;
  margin-top: -490px;
  margin-left: 650px;
  position: absolute; 

}
.sharehome{
  width: 720px;
  height: 600px;
  font-family: cursive;
  font-style: italic;
  font-size: 95%;
  text-align: center;
  align-content: center;
  margin-top: -460px;
  margin-left: 680px;

}

.background2{
  background-color: black;
  width: 850px;
  height: 600px;
  color: beige;
  font-family: cursive;
  font-style: italic;
  font-size: 120%;
  text-align: center;
  align-content: center;
  margin-top: -360px;
  margin-left: 600px;

}
textarea{
  width: 680px;
  height: 440px;
  margin-top: -570px;
  margin-left: -50px;
  position: absolute;
}
h5{
  color: rgb(21, 19, 17);
  width: 100%;
  text-decoration: none;
  justify-content: space-around;
  align-items: center; 
  margin-top: -30%;

}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(239, 227, 211);
  font-family: cursive;
  text-align: center;
  font-size: 22px;  
}

.bitoysaca{
  display: flex;
  width: 850px;
  height: 600px;
  margin-left: 600px;
  margin-top:0%;
  position: absolute;
}

.logo {
  width: 100px;
  margin-top: 0;
  padding: 0;
  border-style: double;
  border-color: white;
}


nav {
display: flex;
justify-content: space-around;
}
footer {
  margin-top: 0px;
  padding: 25px 50px;
  background-color:  rgb(190, 163, 121);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  }
  
  footer a{
    color: rgb(21, 19, 17);
    width: 100%;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
  }
  
  footer p {
    font-size: 1.2em;
  }
    
  footer p a:hover {
    text-decoration: underline;
  }
  
  
  .social img{
    padding-top: 20px;
    margin-bottom: 10%;
  }