#content{
  max-width: 1600px;
  align-items: center;
  align-content: center;
}
   
header {
  display: grid;
  grid-template-columns: 30px auto; 
  background-color: black;
  align-content: center;
}

header a{
  font-family: cursive;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  color: #d0d0be;
}
nav a{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.gatitosmuyflojos{
  margin-left: 0%;
  width: 600px;
  display: flex;
  margin-top: 0%;
  position: relative;
}


.Share-title{
  background-color: #4f402e;
  width: 130px;
  height: 55px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 160%;
  text-align: center;
  align-content: center;
  margin-top: -500px;
  margin-left: 550px;
  position: absolute;
}
.lunabella{
  margin-left: 0%;
  display: flex;
  width: 600px;
  margin-top: -38%;
}

h4{
  width: 700px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 120%;
  text-align: center;
  align-content: center;
  margin-top: -460px;
  margin-left: 650px;
  position: absolute; 

}
.sharehome{
  width: 720px;
  height: 600px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 95%;
  text-align: center;
  align-content: center;
  margin-top: -420px;
  margin-left: 680px;

}

.background2{
  background-color: black;
  width: 850px;
  height: 600px;
  color: #d0d0b3;
  font-family: sans-serif;
  font-style:italic;
  font-size: 120%;
  text-align: center;
  align-content: center;
  margin-top: -360px;
  margin-left: 600px;

}
textarea{
  background-color: #d0d0be;
  width: 680px;
  height: 440px;
  margin-top: -590px;
  margin-left: -50px;
  position: absolute;
}
h5{
  color: black;
  width: 100%;
  text-decoration: none;
  justify-content: space-around;
  align-items: center; 
  margin-top: -30%;

}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #d0d0b3;
  font-family: cursive;
  text-align: center;
  font-size: 22px;  
}

.bitoysaca{
  display: flex;
  width: 850px;
  height: 600px;
  margin-left: 600px;
  margin-top:-3%;
  position: absolute;
}

.logo {
  width: 100px;
  margin-top: 0;
  padding: 0;
  border-style: double;
  border-color: #d0d0be;
}


nav {
display: flex;
justify-content: space-around;
}
footer {
  margin-top: 0px;
  padding: 25px 50px;
  background-color:  black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  }
  
  footer a{
    color: #d0d0be;
    width: 100%;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
  }
  
  footer p {
    font-size: 1.2em;
    color: #d0d0b3;
  }
    
  footer p a:hover {
    text-decoration: underline;
    color: #d0d0be;
  }
  
  
  .social img{
    padding-top: 20px;
    margin-bottom: 10%;
  }